.user-select {
  position: relative;
  overflow: hidden;
}

.user-select select {
  width: 100%;
  padding: 10px 0;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: #1e1e1e;
}

.user-select::before {
  background-color: transparent;
}

@media (max-width: 1440px) {
  .user-select select {
    padding: 8px 0;
    font-size: 26px;
  }
}

@media (max-width: 1280px) {
  .user-select select {
    padding: 6px 0;
    font-size: 22px;
  }
}

@media (max-width: 780px) {
  .user-select select {
    padding: 4px 0;
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  .user-select select {
    padding: 3px 0;
    font-size: 16px;
  }
}
